.box {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    transition-duration: 0.5s;

    }

.box.red {
    transition-property: width;
    background-color: red;
    
}

.box.red:hover {
    width: 300px;
}

.box.green {
background-color: green;
transition-property: height;
}
.box.green:hover {
height: 300px;
}
.box.blue {
background-color: blue;
transition-property: width height;
}

.box.blue:hover {
    width: 300px;
    height: 300px;
}